@import url('https://font.googleapis.com/css?family=Roboto');

body{
  background: url('../image/dove.jpg') no-repeat center center fixed ;
  background-size: cover;
}
button{
  background-color: pink;
}
